<!doctype html>
<html>
    <head>
        <title>delete</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" >
        <link rel="stylesheet" href="css/site.css" type="text/css" >
    </head>
    <body>
        <header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>myApp</h2>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
                        <li> <a href="/"> Create test file </a> </li>
                        <li><a href="/delete"> Delete</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
			<aside class="col-md-3">
				<h3>file was delete</h3>
				<p></p>
			</aside>
			<section class="main col-md-9">
				<article>

				</article>
			</section>
		</div>
	</div>
    <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                        <h2>&#169;<a href="https://github.com/xwang345" class="link">2018 - Xiaochen Wang</a></h2>
                </div>
			</div>
		</div>
   </footer>
    </body>
</html>