<!doctype html>
<html>
    <head>
        <title>How fs.unlink() works</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" >
        <link rel="stylesheet" href="css/site.css" type="text/css" >
    </head>
    <body>
        <header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>myApp</h2>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
							<li> <a href="/"> Create test file </a> </li>
						<li><a href="/delete"> Delete</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
			<aside class="col-md-3">
				<h3>How Dose fs.Unlink() function works?</h3>
			</aside>
			<section class="main col-md-9">
				<article>
				Method description:
				<br />
				<br />
				Asynchronously removes a file or symbolic link. No arguments other than a possible exception are given to the completion callback.
				<br />
				sytax:
				<br />
				fs.unlink(path, callback)
				<br />
				parameter:
				<br />
				The parameters are described as follows:
				<br />
     			path - the file path.
				 <br />
     			callback - callback function with no parameters.
				</article>
			</section>
		</div>
	</div>
    <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>&#169;<a href="https://github.com/xwang345" class="link">2018 - Xiaochen Wang</a></h2>
				</div>
			</div>
		</div>
   </footer>
    </body>
</html>